@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  overflow-x: hidden;
}


@layer utilities {
  .scrollbar-cyan::-webkit-scrollbar {
    width: 12px;
  }

  .scrollbar-cyan::-webkit-scrollbar-thumb {
    background-color: cyan;
    border-radius: 10px;
  }

  .scrollbar-cyan::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
}


.vertical-label {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.5s ease;
}

button.prev, button.next {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

button.prev:hover, button.next:hover {
  background-color: rgba(255, 255, 255, 1);
}